<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
ol li {
 
  padding: 5px;
  margin-left: 35px;
}
h1{
     padding: 5px;
  margin-left: 35px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
</style>
<body>
    <h1>Select</h1>

    <ol>
        <li>Wilson</li>
        <li>Ashimwe</li>
    </ol>
</body>
</html>
